.vscode/launch.json
scope.txt
normal.txt
.DS_Store
drafts.py
inputfile.py
exampleForScopeLoop.py
PentestReport.md
images/wes.png
templates/HelloWorld.jinja2
templates/PentestReport.jinja
modules/validateScope.py
TODO
