{% for asset in data %}
# Resultaten voor: {{asset.main_asset}}
--
Deze asset komt in aanmerking voor de volgende tools

| Host | Curl | Nmap |
| ---- | ---- | ---- |
| {% if asset.host_uri %} ✓ {% else %} ✗ {% endif %} | {% if asset.curl_uri %} ✓ {% else %} ✗ {% endif %} | {% if asset.nmap_uri %} ✓ {% else %} ✗ {% endif %} |


{% if asset.host_results|length %}
## Host
Resultaten van de host scan met commando `host {{ asset.host_uri }}`

{% for key in asset.host_results -%}
{% if key.IPv4 %}
| IPv4 adressen |
| ---- |{% endif %}
{% for result in key.IPv4 -%}
|{{ result }}|
{% endfor %}{% endfor %}

{% for key in asset.host_results -%}
{% if key.IPv6 %}
| IPv6 adressen |
| ---- |{% endif %}
{% for result in key.IPv6 -%}
|{{ result }}|
{% endfor %}{% endfor %}

{% for key in asset.host_results -%}
{% if key.Mail %}
| Mail server adressen |
| ------------ |{% endif %}
{% for result in key.Mail -%}
|{{ result }}|
{% endfor %}{% endfor %}

{% for key in asset.host_results -%}
{% if key.NameServer %}
| Nameserver adressen |
| ---- |{% endif %}
{% for result in key.NameServer -%}
|{{ result }}|
{% endfor %}{% endfor %}

{% if asset.host_zonetransfer_results %}

### Zonetransfer 
Hier zijn de resultaten te vinden van de DNS Zonetransfer Answer section

| URI | TTL | IN | AXFR | Resultaat |
| ---- | ---- | ---- | --- | --- |
{% for key in asset.host_zonetransfer_results %}
{%- for result in key.URI %}{{ result }}{% endfor %} |
{%- for result in key.TTL %}{{ result }}{% endfor %} |
{%- for result in key.IN %}{{ result }}{% endfor %} |
{%- for result in key.AXFR %}{{ result }}{% endfor %} |
{%- for result in key.Result -%}{{ result }}{% endfor %}
{% endfor %}
{% endif %}

{% else %}
## Host
Deze asset komt niet in aanmerking voor een Host scan.

{% endif %}
{% if asset.host_zonetransfer_results|length %}

{% endif %}
{% if asset.curl_results|length %}
## Curl
Resultaten van de curl scan met commando `curl {{ asset.curl_uri }}`

| Header | Resultaat |
| ---- | ------------ | 
{% for result in asset.curl_results %}|HSTS |{{ result.HSTS }}|
|Location|{{ result.Location }}|
|X-Frame-Options|{{ result.XFrameOptions }}|
|X-XSS-Protection|{{ result.XSSProtection }}|
{% endfor %}

{% else %}
## Curl
Deze asset komt niet in aanmerking voor een Curl scan.

{% endif %}
{% if asset.nmap_results|length %}
## Nmap
Resultaten van de nmap scan met commando `nmap {{ asset.nmap_uri }}`

| Poort | Service |
| ----- | ------- |
{% for result in asset.nmap_results %}{{ result.Port }} | {{ result.Service }} |
{% endfor %}
{% else %}
## Nmap
Deze asset komt niet in aanmerking voor een Nmap scan.
{% endif %}
-----

{% endfor %}